@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s forwards;
}
